@mixin gradient($from, $to) {
    /* fallback/image non-cover color */
    background-color: $from;
  
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, $from 0%, $to 100%);
  
    /* Chrome10-25,Safari5.1-6  */
    background-image: -webkit-linear-gradient(top,  $from 0%, $to 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: linear-gradient(to bottom,  $from 0%,$to 100%);
  
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, $from 0%,$to 100%);
}


// Horizontal
@mixin gradient-Horizontal($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

.bg-gradient {
  @include gradient(#00644B, #009872);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00644B', endColorstr='#009872',GradientType=0 );
  
}