/* card */
.card-list{
    display: flex;
    justify-content: center;
    @include mobile{
      flex-direction: column;
      width: 100%;
    }
}
.card-list > li:nth-child(2){
  margin-left: 28px;
  margin-right: 28px;
  @include mobile{
    margin-left: 0;
    margin-right: 0;
  }
}
.card-list-item{
  padding: 27px 20px 20px;
  width: 300px;
  min-height: 330px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16);
  border-radius: 3px;
  text-align: center;
  @include mobile{
    margin-bottom: 30px;
    width: auto;
  }
}
.card-title {
  margin-top: 12px;
  margin-bottom: 8px;
  // font-size: 1.25rem;
  // font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.card-list-link{
  min-height: 136px;
}
.card-list-item li{
  margin-left: 20px;
  list-style: disc;
}
// .class-list{
//   margin-left: 20px;
//   list-style: disc;
// }
