//  form
.content{
    max-width: 460px;
    min-height: 245px;
    textarea{
        width: 100%;
        min-height: 245px;
        font-size: 16px;
        border-radius: 3px;
        border:1px solid #E1E1E1;
    }
}
.form-group {
    label{
        display: block;
        margin-bottom: 6px;
    }
    .form-control{
        width: 100%;
        padding: 9px 10px;
        border:1px solid #E1E1E1;
        border-radius: 3px;
        &:focus {
            background-color: #FFFDD3;
            border-color: $color-pink;
            outline: none;
        }
    }
}
.btn{
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    &:active {
        opacity: 0.8;
    }
    &:hover {
        -webkit-filter: contrast(150%);
        filter: contrast(150%);
    }
}
.btn-primary{
    color: #FFF;
    background-color: $primary-color;
}

// 表單驗證
form.cmxform label.error, label.error {
    color: red;
    font-style: italic;
}
.top{
    position: fixed;
    bottom: 10px;
    right: 10px;
}